# for now, don't push notebooks or plots
csv/
plots/
config/
root/
cpp/build/
pre-2022/
iterations/
iterations-2d/
tf-iterations/
misc-notebooks/
abcd-plots/
colbt/

*.pyc
*.pkl
*.hdf5
*.log

.ipynb_checkpoints
nocelltrack-config-pbpb18.yaml
